*{
  color: aliceblue;
}

h1 {
  font-family: 'Cormorant', sans-serif;
  font-size: xx-large;
  font-weight: 400;
}

h2 {
  font-family: 'Lilita', sans-serif;
  font-size: xx-large;
  font-weight: 400;
}
a {
  text-decoration: none;
  font-family: 'Cormorant', sans-serif;
  font-weight: 300;
  color: aliceblue;
}

a:hover {
color: #008b8b;
}

button:hover {
  color: #ffffff;
}
.logo {
  font-family: 'Cormorant', sans-serif;
  font-size: xx-large;
  font-weight: 700;
  color: #008b8b;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 3em;
  margin-top: 1rem;
  background-color: #222222;

}

p {
  font-size: larger;
  font-family: 'Cormorant', sans-serif;
}

.nav-links{
  margin-top: 1%;
}

.navli {
  padding-left: 2em;
}

body {
  background-color: #232222;
}

hr {
  height: 1em;
  margin: 0;
  background-color: rgb(73, 12, 12);
}

.HTML > hr {
  width: 90%;
}

.middle1 {
  background: url(img/back.jpg) no-repeat;
  height: 40em;
  width: 90%;
  margin: auto;
  background-size: 100%;
}

.textpart {
text-align: center;
padding-top: 6em;
}

.buttons {
  margin: 10% 7% 0% 32%;
}

button {
  border-radius: 10px;
  background-color: #7b38d8;
  padding: 20px;
  width: 200px;
  color: #ffffff;
  text-align: center;
  font-family: 'Lilita', sans-serif;
  font-size: large;
}

.About {
  display: flex;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

.about-1,
.pic,
.who {
  flex-basis: calc(100% / 3);
  box-sizing: border-box;
  padding: 10px;
}

.pic img {
  max-width: 100%;
  height: auto;
}

.pic {
  width: 70%;
}

.CSS > hr {
  width: 90%;
}

.JavaScript> hr {
  width: 70%;
}

.Services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.tiles {
  flex-basis: calc(100% / 5);
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.tiles img {
  max-width: 100%;
  height: auto;
}

.contact-me {
  width: 80%;
  margin: auto;
}

.formcontainer {
  display: flex;
  justify-content: space-between;
}

.name,
.email {
  width: %;
}