a {
  text-decoration: none;
  font-family: 'Cormorant';
  font-weight: 300;
  color: aliceblue;
}

.logo {
  font-family: 'Cormorant', sans-serif;
  font-size: xx-large;
  font-weight: 700;
  color: #008b8b;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 3em;
  margin-top: 1rem;
  background-color: #222222;

}

body {
  background: black;
}

.nav-links{
  margin-top: 1%;
}

.navli {
  padding-left: 2em;
}

.middle1 {
  background: url(img/3efaa98aac9433010527feeb8983830-PhotoRoom.png-PhotoRoom.png);
  width: 90%;
  margin: auto;
  color: bisque;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  display: flex;
  color: aliceblue;
}